language: php

dist: xenial

notifications:
  email: false

php:
  - 7.2

services:
  - mysql

addons:
  apt:
    sources:
      - mysql-5.7-trusty
    packages:
      - mysql-server
      - mysql-client

before_install:
  - sudo mysql -e "use mysql; update user set authentication_string=PASSWORD('') where User='root'; update user set plugin='mysql_native_password';FLUSH PRIVILEGES;"
  - sudo mysql_upgrade
  - sudo service mysql restart
  - mysql -e 'create database homestead_test;'

before_script:
  - cp .env.travis .env
  - composer install --no-interaction
  - php artisan key:generate
  - php artisan storage:link

script:
  # Set up db
  - php artisan migrate
  - php artisan db:seed
  - php artisan passport:install
  # Run tests
  - ./vendor/bin/phpunit
