.relative-block {
  position: relative;
  overflow: hidden;
  height: 100%;
}

.fade {
  transition: opacity 1s ease;
  opacity: 0;

  &.in {
    opacity: 1;
  }
}

.card-slide-content {
  transition: all 0.5s ease-in-out;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #f7f7f7;
  z-index: 5;
  overflow-y: auto;
  -webkit-transform: translate(0, 130%);
  -moz-transform: translate(0, 130%);
  -ms-transform: translate(0, 130%);
  -o-transform: translate(0, 130%);
  transform: translate(0, 130%);

  &.show {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  .close {
    position: absolute;
    top: 0.2rem;
    right: 0.2rem;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
    font-size: 14px;
    box-shadow: 0 1px 3px rgba(10, 10, 10, 0.2);
    color: #555;
    z-index: 10;
    text-align: center;
    > .fa {
      line-height: 1;
    }
  }
}

.card-footer,
.card-footer-item {
  background-color: #fff;
  z-index: 10;
}