.document {
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 2rem;
    margin-bottom: 1rem!important;
  }

  h1 {
    @extend .title;
    @extend .is-2;
  }

  h2 {
    @extend .title;
    @extend .is-3;
  }

  h3 {
    @extend .title;
    @extend .is-4;
  }

  p {
    margin-bottom: .5rem;
  }
}