.info-box {
  @include flexbox();
  @include flex-direction(column);
  padding: 1rem;
  position: relative;
  min-height: 102px;

  &.is-primary {
    .info-box-icon {
      background-color: $primary;
      color: #fff;
    }
  }

  .title {
    font-size: 1.25rem;
    margin-bottom: 0;
  }
}

.info-box-text {
  font-size: 2rem;
  font-weight: $weight-bold;
  color: $info;
}

.box-footer {
  margin: 1.5rem -1rem 0 -1rem;
  padding: 1rem 1rem 0 1rem;
  border-top: 1px solid $laravel-border-color;
}

.is-full-height {
  height: 100%;
}

.card {
  transition: opacity .1s linear;
}