html,
body,
#app-root,
#app-root > div {
  min-height: 100%;
  font-weight: 500;
  background-color: $body-bg;
}

.font-family {
  font-family: $family-primary !important;
}

.app-footer {
  border-top: 1px solid $laravel-border-color;
  padding: 10px 0;
  color: #666;
}

.main-content {
  padding-top: 40px;
  margin-bottom: 20px;
  min-height: calc(100% - 140px);
}

.flexbox {
  @include flexbox();
  width: 100%;
}

.flex-v-center {
  @include align-items(center);
}

.flex-right {
  @include flex-direction(row);
  @include justify-content(flex-end);
  text-align: right;
}

.flex-space-between {
  @include justify-content(space-between);
}

.button.is-full {
  width: 100%;
  justify-content: flex-start;
  text-align: left;
}

.text-underline {
  border-bottom: 1px solid #dedede;
  padding-bottom: .5em;
}

a.box {
  color: #444;
}

.copyright {
  position: fixed;
  top: 65px;
  right: 5px;
  z-index: 4;
  text-align: right;
  font-size: 12px;
  text-decoration: underline;
  background: rgba(255, 255, 255, .8);
  padding: 0 3px;
  &,
  > a {
    color: #777;
  }
}

@include mobile() {
  .container {
    padding: 0 1rem;
  }
}

.image-slider {
  img {
    width: 100%;
    height: auto;
    max-width: 500px;
  }
}

.image-gallery-image {
  margin: 0 auto;
  text-align: center;
  img {
    max-height: 800px;
  }
}

.image-gallery-slide {
  background-color: transparent !important;
}

#map2,
.horizontal-bar,
.reset-map-button {
  transition: left 250ms linear;
}

.sidebar {
  transition: transform 250ms linear;
}

.sidebar-visible {
  .sidebar {
    transform: translate(0, 0);
  }
  #map2,
  .horizontal-bar {
    left: $sidebar-width;
  }
}

.mock-container {
  text-align: left;
}

.mockup-img {
  max-height: 500px;
}

.home {
  background: $primary url('/images/bg4.png') repeat center center;
  &,
  .title {
    color: #fff;
  }
}

.home-text {
  margin-top: 10%;

  h1 {
    font-weight: bolder;
  }
}

.home-inner {
  padding: 2rem 0;
}

.container {
  &.is-small {
    max-width: 1024px;
  }

  @include tablet-only() {
    padding: 0 16px;
  }
}

.home-section {
  padding: 2rem 0;
}

.control:first-of-type {
  width: 100%;
}

.feature-icon {
  width: 100px;
  height: auto;
}

.feature-tile {
  box-shadow: 1px 1px 0 2px rgba(0, 0, 0, .1);

  .media-left {
    padding-right: 10px;
  }

  .media-right {
    paddint-left: 10px;
  }
}

.feature-text {
  color: #444;
}

.home-footer {
  background: #222;
  color: #eee;
  padding: 2rem 0;
  img {
    max-height: 100px;
  }

  .logos {
    margin-top: 1rem;
  }

  a {
    color: #ddd;
    font-weight: $weight-bold;
    &:hover {
      color: #fff;
      text-decoration: underline;
    }
  }
}

.featured-title {
  display: inline-block;
  position: relative;
  border-bottom: 2px solid #dbdbdb;
  padding-bottom: 8px;
  &:before {
    position: absolute;
    content: ' ';
    background: $primary;
    left: 0;
    bottom: -2px;
    height: 2px;
    width: 50px;
  }
}

.text-ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}