html,
body,
#app-root,
#app-root > div {
  position: relative;
  height: 100%;
  font-weight: 500;
  background-color: $body-bg;
}

.font-family {
  font-family: $family-primary !important;
}

.app-footer {
  border-top: 1px solid $laravel-border-color;
  padding: 10px 0;
  color: #666;
}

.main-content {
  padding-top: 40px;
  margin-bottom: 20px;
  min-height: calc(100% - 140px);
}

.flex-v-center {
  @include align-items(center)
}

.button.is-full {
  width: 100%;
  justify-content: flex-start;
  text-align: left;
}

.text-underline {
  border-bottom: 1px solid #dedede;
  padding-bottom: .5em;
}

a.box {
  color: #444;
}

.copyright {
  position: fixed;
  top: 65px;
  right: 5px;
  z-index: 4;
  text-align: right;
  font-size: 12px;
  text-decoration: underline;
  background: rgba(255, 255, 255, .8);
  padding: 0 3px;
  &,
  > a {
    color: #777;
  }
}

@include mobile() {
  .container {
    padding: 0 1rem;
  }
}

.image-slider {
  img {
    width: 100%;
    height: auto;
    max-width: 500px;
  }
}

.image-gallery-image {
  margin: 0 auto;
  text-align: center;
  img {
    max-height: 800px;
  }
}

.image-gallery-slide {
  background-color: transparent !important;
}

#map2,
.horizontal-bar,
.reset-map-button {
  transition: left 250ms linear;
}

.sidebar {
  transition: transform 250ms linear;
}

.sidebar-visible {
  .sidebar {
    transform: translate(0, 0);
  }
  #map2,
  .horizontal-bar {
    left: $sidebar-width;
  }
}
h1 {
  @extend .title;
  @extend .is-1;
}

h2 {
  @extend .title;
  @extend .is-2;
}

h3 {
  @extend .title;
  @extend .is-3 ;
}
