.no-wrap {
  white-space: nowrap;
}

.is-positioned-relatively {
  position: relative;
}

.border-bottom {
  border-bottom: 1px solid #ddd;
}

.icon.is-circle {
  width: 42px;
  height: 42px;
  line-height: 42px;
  border-radius: 50%;
  background-color: $primary;
  color: #fff;
  box-shadow: 0 1px 2px rgba(0,0,0,.25);

  &.is-success {
    background-color: $success;
  }

  &.is-danger {
    background-color: $danger;
  }

  &.is-info {
    background-color: $info;
  }

  &.is-warning {
    background-color: $warning;
  }
}

.has-text-vertically-centered {
  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        vertical-align: middle;
      }
    }
  }
}