.modal-card-lg {
  width: 90%;
  max-width: 1300px;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  font-size: 20px;
  color: #555;
  cursor: pointer;
  .fa {
    line-height: 25px;
  }
}