.map-page {
  .nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }
}

.nav {
  z-index: 900;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
  background-color: $primary;
  .nav-item {
    color: #fff !important;
  }

  .container.is-fluid {
    width: 100%;
  }

  a.nav-item {
    border-bottom: 2px solid transparent;

    &.is-active,
    &:hover {
      color: #fff;
      background: darken($primary, 5%);
    }
  }

  @include tablet-only() {
    > .container {
      width: 100%;
    }
  }

  .logo-img {
    margin-right: 5px;
    height: $nav-height / 2;
    width: auto;
    line-height: $nav-height;
  }
}

.nav-brand {
  overflow: hidden;
  > .nav-item {
    font-size: 1.6rem;
    font-weight: 400;
    > b {
      font-weight: 700;
    }
  }
  > small.nav-item {
    font-size: 14px;
  }
}

.nav-toggle {
  > span {
    background-color: #fff;
  }
  &:hover {
    background-color: darken($primary, 5%);
  }
}

@include mobile() {
  .nav-menu {
    .nav-item {
      color: #444 !important;
      background-color: #fff!important;
      &.is-active,
      &:hover {
        background-color: #f4f4f4 !important;
      }
    }
  }
}

.home .nav.home-nav {
  position: relative;
  background-color: transparent;
  box-shadow: none;

  .nav-right {
    @include mobile() {
      a.nav-item {
        color: #777 !important;
        &.is-active,
        &:hover {
          @include mobile() {
            color: #000 !important;
          }
        }
      }
    }
  }

  a.nav-item,
  .nav-toggle {
    &.is-active {
      border-bottom-color: #fff !important;
      background-color: transparent !important;
    }

    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }
  }

  .nav-brand > .nav-item {
    font-size: 1.6rem;
    padding-left: 0;
    &:hover {
      border-bottom-color: transparent !important;
      background-color: transparent !important;
    }
  }

  .logo-img {
    height: 48px !important;
    max-height: 48px;
    margin-right: 10px;
  }
}