.nav {
  z-index: 10;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
  background-color: $primary;
  .nav-item {
    color: #fff;
  }

  .container.is-fluid {
    width: 100%;
  }

  a.nav-item {
    &.is-active,
    &:hover {
      color: #fff;
      background: darken($primary, 5%);
    }
  }

  @include tablet-only() {
    > .container {
      width: 100%;
    }
  }
}

.nav-brand {
  overflow: hidden;
  > .nav-item {
    font-size: 1.6rem;
    font-weight: 400;
    > b {
      font-weight: 700;
    }
  }
  > small.nav-item {
    font-size: 14px;
  }
}

.nav-toggle {
  > span {
    background-color: #fff;
  }
  &:hover {
    background-color: darken($primary, 5%);
  }
}

@include mobile() {
  .nav-menu {
    .nav-item {
      color: #444;
    }
  }
}