.sidebar {
  width: $sidebar-width;
  position: absolute;
  top: $nav-height;
  left: 0;
  bottom: 0;
  padding: 20px 10px;
  background: $body-bg;
  box-shadow: 3px 0 3px rgba(0, 0, 0, .16);
  z-index: 5;
  max-height: 100%;
  overflow-y: auto;

  @include mobile() {
    left: -300px;
  }

  -ms-overflow-style: -ms-autohiding-scrollbar;

  &::-webkit-scrollbar {
    // display: none;
  }
}
