.mb-none {
  margin-bottom: 0 !important;
}

.mb-0 {
  margin-bottom: .5em !important;
}

.mb-1 {
  margin-bottom: 1em !important;
}

.mt-0 {
  margin-top: .5rem;
}

.mt-1 {
  margin-top: 1rem!important;
}

.mt-2 {
  margin-top: 1.5rem!important;
}

.mt-3 {
  margin-top: 2rem;
}

.mr-0 {
  margin-right: .5rem !important;
}

.pb-none {
  padding-bottom: 0 !important;
}

.pt-none {
  padding-top: 0 !important;
}

.pt-0 {
  padding-top: .5rem !important;
}

.pt-1 {
  padding-top: 1rem !important;
}