.spinner-overlay {
  @include flexbox();
  @include align-items(center);
  @include justify-content(center);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(255, 255, 255, .8);
  z-index: 1500;
}

.overlay-blur {
  z-index: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-filter: blur(5px); /* Safari */
  filter: blur(5px);
}

.spinner-container {
  color: #444;
  font-size: 2rem;
  z-index: 10;

  .is-loading {
    -webkit-animation: spinAround 500ms infinite linear;
    animation: spinAround 500ms infinite linear;
    border: 2px solid $primary;
    border-radius: 290486px;
    border-right-color: transparent;
    border-top-color: transparent;
    content: "";
    display: block;
    height: 2em;
    width: 2em;
    left: calc(50% - (1em / 2));
    top: calc(50% - (1em / 2));
    position: absolute;
  }
}

.inline-spinner {
  @include flexbox();
  @include align-items(center);
  @include justify-content(center);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #aaa;
  color: #ddd;
  font-size: 30px;

  .inline-spinner-container {
    text-align: center;
    font-weight: 100;
  }
}