html,
body,
#app-root,
#app-root > div {
  position: relative;
  height: 100%;
  font-weight: 500;
  background-color: $body-bg;
}

.font-family {
  font-family: $family-primary!important;
}

.auth-footer {
  border-top: 1px solid $laravel-border-color;
  padding: 10px 0;
  color: #666;
}

.main-content {
  padding-top: 40px;
  margin-bottom: 20px;
  min-height: calc(100% - 140px);
}

.flex-grow {
  flex-grow: 1;
}

.mb-0 {
  margin-bottom: .5em;
}

.mb-1 {
  margin-bottom: 1em;
}

.mr-0 {
  margin-right: .5rem !important;
}

.button.is-full {
  width: 100%;
  justify-content: flex-start;
  text-align: left;
}

.text-underline {
  border-bottom: 1px solid #dedede;
  padding-bottom: .5em;
}

a.box {
  color: #444;
}

.copyright {
  position: fixed;
  top: 65px;
  right: 5px;
  z-index: 4;
  text-align: right;
  font-size: 12px;
  text-decoration: underline;
  background: rgba(255, 255, 255, .8);
  padding: 0 3px;
  &,
  > a {
    color: #777;
  }
}

.app-footer {
  background-color: #2d2d2d;
  position: absolute;
  left: $sidebar-width;
  right: 0;
  bottom: 0;
  height: 3em;
  padding: 0 1rem;
  z-index: 0;
  display: flex;
  align-items: center;
  &,
  strong {
    color: #fff;
  }
  a {
    text-decoration: underline;
  }
  a:hover {
    color: #fff;
  }
}

@include mobile() {
  .container {
    padding: 0 1rem;
  }
}